body{    
    background-color: #212529;
    color:#6c757d;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

form{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

input{
    width: 350px;
    height: 30px;    
}

button{
    height: 36px;
    background-color: #212529;
    color: whitesmoke;
    border: 1px white solid;
}

input:focus , input:active{    
    outline: none;
}

select{
    height: 36px;
}

section{
    margin-top: 50px;
    align-items: center;
    gap:30px;
    display: flex;
}

.imagen1{
    box-shadow: 7px 0px 146px 11px rgba(255,255,255,0.64);
}